@use '../../assets/sass/colors' as colors;

.about-page {
    scroll-snap-type: y mandatory;
}

// .about-page .page-navigation+.about-paragraph {
//     padding-top: 3.5rem;
// }

.about-page {
    .page-heading {
        display: none;
    }
}


.about-page .about-cta {
    scroll-snap-align: start;
}

.about-page .dropdown-panel {
    scroll-snap-align: start;
}

.about-page .dropdown-toggle,
.about-page .dropdown-title,
.about-page .dropdown-description {
    color: currentColor !important;
}

.about-page .dropdown-content,
.about-page .dropdown-content * {
    color: currentColor !important;
}

.about-page .dropdown-container--focus .dropdown-panel:not(.open) {
    display: none;
}



.tech-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: .2rem;
    margin-top: 1.5rem;
}

.tech-tile {
    border: 1px solid rgba(colors.color('text'), 0.05);
    border-radius: 16px;
    padding: .5rem;
    box-shadow: 0 10px 10px rgba(colors.color('text'), 0.05);

    h3 {
        margin: 0 0 0.75rem;
        font-size: .8rem;
    }
}

.musician-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    >div {
        flex: 1 1 220px;
        background-color: rgba(colors.color('text'), 0.03);
        border: 1px solid rgba(colors.color('text'), 0.05);
        padding: 1rem;
        border-radius: 14px;

        h3 {
            margin-top: 0;
            margin-bottom: 0.75rem;
        }

        ul {
            margin: 0;
            padding-left: 1.2rem;
        }
    }
}

.musician-content {
    padding-top: 1.25rem;

    p {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}

.developer-content {
    padding-top: 0.5rem;

    p {
        margin-top: 0;
        margin-bottom: 1.25rem;
    }
}

body[data-theme='dark'] {

    .tech-tile {
        border-color: rgba(colors.color-dark('text'), 0.14);
    }

    .musician-columns>div {
        border-color: rgba(colors.color-dark('text'), 0.14);
    }
}

body[data-about-active='true'][data-about-bg='primary'] {
    background-color: colors.color('primary');
    color: colors.color('text-contrast');
}

body[data-about-active='true'][data-about-bg='background'] {
    background-color: colors.color('background');
    color: colors.color('text');
}


body[data-theme='dark'][data-about-active='true'][data-about-bg='primary'] {
    background-color: colors.color-dark('primary');
    color: colors.color-dark('text-contrast');
}

body[data-theme='dark'][data-about-active='true'][data-about-bg='background'] {
    background-color: colors.color-dark('background');
    color: colors.color-dark('text');
}