.icon-chevron {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;

    svg {
        width: 100%;
        height: 100%;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }

    &.icon-chevron--down {
        width: 24px;
        height: 24px;
    }

    &.icon-chevron--up {
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
    }
}
