@use '../../../assets/sass/colors' as colors;

.icon-x {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: currentColor;

    svg {
        width: 100%;
        height: 100%;
        stroke: currentColor;
        stroke-width: 1.8;

        fill: none;
    }

    &--sm {
        width: 20px;
        height: 20px;
    }

    &--md {
        width: 26px;
        height: 26px;
    }

    body[data-theme='dark'] & {
        color: colors.color-dark("text");
    }
}
