@use '../../assets/sass/colors' as colors;
@use '../../assets/sass/fonts' as fonts;

.page-navigation {
    margin-bottom: 1.5rem;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    z-index: 25;
    background-color: colors.color('background');
    transition: background-color 0.3s ease;

    &:focus-visible {
        outline: none;
    }

    @media (max-width: 768px) {


        padding: 0;


    }

}

.page-navigation-wrapper .page-navigation {
    margin-bottom: 0;
    background: inherit;
}

.page-navigation-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.page-nav__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
    @include fonts.apply-font($weight: fonts.$font-weight-bold, $color: colors.color('text'));
    white-space: nowrap;
    min-width: 0;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;

    &:active {
        outline: none;
        box-shadow: none;
    }
}

.page-nav__link--prev {
    justify-content: flex-start;
}

.page-nav__link--next {
    justify-content: flex-end;
    text-align: right;
}

.page-nav__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 999px;
    font-size: 1.05rem;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

    .icon-arrow,
    .page-nav__icon {
        width: 18px;
        height: 18px;
    }

    .page-nav__icon--reverse {
        transform: rotate(180deg);
    }
}

.page-nav__label {
    display: flex;
    letter-spacing: 0.02em;
    font-size: smaller;
    height: 100%;
}



@media (hover: hover) and (pointer: fine) {
    .page-nav__link:hover {
        border-color: transparent;
    }

}

body[data-theme='dark'] {
    .page-navigation {
        background-color: colors.color-dark('background');
    }

    .page-nav__link {
        color: colors.color-dark('text');
    }


}

body[data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-navigation,
body[data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-nav__link,
body[data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-nav__arrow {
    color: colors.color('text-contrast');
}

body[data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-navigation {
    background-color: colors.color('primary');
}

body[data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-navigation,
body[data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-nav__link,
body[data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-nav__arrow {
    color: colors.color('text');
}

body[data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-navigation {
    background-color: colors.color('background');
}

body[data-theme='dark'][data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-navigation,
body[data-theme='dark'][data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-nav__link,
body[data-theme='dark'][data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-nav__arrow {
    color: colors.color-dark('text-contrast');
}

body[data-theme='dark'][data-about-active='true'][data-about-bg='primary'] .page-navigation-wrapper .page-navigation {
    background-color: colors.color-dark('primary');
}

body[data-theme='dark'][data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-navigation,
body[data-theme='dark'][data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-nav__link,
body[data-theme='dark'][data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-nav__arrow {
    color: colors.color-dark('text');
}

body[data-theme='dark'][data-about-active='true'][data-about-bg='background'] .page-navigation-wrapper .page-navigation {
    background-color: colors.color-dark('background');
}