#root {
  min-height: 100vh;
  min-width: 100vw
}

.layout-shell {
  --nav-width: 292px;
  --tab-width: 60px;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  flex-direction: row-reverse;
  overflow: hidden;
}

.app-shell {
  display: flex;
  flex: 1;
  min-height: 100vh;
  box-sizing: border-box;
  min-width: 0;
  overflow: hidden;
  padding-right: var(--nav-width);
}

@media (max-width: 768px) {
  .layout-shell {
    flex-direction: row;
  }

  .app-shell {
    padding: 0rem;
    padding-right: 0;
  }
}
