.resume__sections {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0;
    margin-top: 1.5rem;
    border-top: none;
}

body[data-theme='dark'] {
    .resume__sections {
        border-top: none;
    }
}
