// Global container and spacing utilities

$container-max-width: 1200px !default;
$container-padding: 1rem !default;
$gutter: 1.5rem !default;

// Main container
.container {
    display: flex;
    flex-direction: column;
    max-width: $container-max-width;
    // margin-left: auto;
    // margin-right: auto;
}


// Responsive
@media (max-width: 768px) {}